:root{
    --primary-color: rgba(107,97,203,1.000);
    --secondary-color: rgba(213,214,246,1.000);
}
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(220, 220, 220, 1);
}
.logout{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-row-start: 8;
    grid-row-end: 17;
    grid-column: 168 / span 25;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding-left: 20px;
    font-size: 16px;
}
.logout-img{
    grid-row-start: 10;
    grid-row-end: 15;
    grid-column: 185 /span 7;
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.teams-box{
    width: 80vw;
    height: 50vw;
    max-width: 1000px;
    max-height: 600px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(200, 1fr);
    grid-template-rows: repeat(120, 1fr);
}
h1 {
    margin: 0;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
.header-teams{
    grid-row-start: 30;
    grid-row-end: 35;
    grid-column: 8 / span 100;
}

p {
    font-size: 16px;
    margin-top: 8px;
}

#headline{
    grid-row-start: 10;
    grid-row-end: 17;
    grid-column: 8 / span 100;
    display: flex;
    align-items:center;
    justify-content: left;
    padding: 0;
    margin: 0;
}

.button1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: none;
    grid-row-start: 29;
    grid-row-end: 38;
}

#team-open{
    grid-column: 8 / span 25;
    background-color: var(--primary-color);
    color: white;
}
#team-closed{
    grid-column: 36 / span 25;
    background-color: var(--secondary-color);
}
#team-closed2{
    grid-column: 64 / span 25;
    background-color: var(--secondary-color);
}

.info-box{
    grid-row-start: 60;
    grid-row-end: 115;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}
#ib1{
    grid-column: 8 / span 56;
}
#ib2{
    grid-column: 72 / span 56;
}
#ib3{
    grid-column: 136 / span 56;
}

.team-icon{
    grid-row-start: 50;
    grid-row-end: 55;
}
#ti1{
    grid-column: 10 / span 25;
}
#ti2{
    grid-column: 74 / span 25;
}
#ti3{
    grid-column: 138 / span 25;
}

.text-box{
    grid-row-start: 50;
    grid-row-end: 55;
    font-size: 20px;
}
#tb1{
    grid-column: 17 / span 45;
}
#tb2{
    grid-column: 81 / span 45;
}
#tb3{
    grid-column: 145 / span 45;
}

.team-icon-team{
    height: 100%;
    width: 100%;
    object-fit:cover;
    font-size: 20px;
}

.text-box-grey{
    grid-column: 20 /span 100;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
}

#team1 {
    grid-row-start: 45;
    grid-row-end: 50;
    color:rgba(0, 0, 0, 1);
}
#team1-img{
    grid-row-start: 45;
    grid-row-end: 50;
    grid-column: 10 /span 5;
}

#team2 {
    grid-row-start: 55;
    grid-row-end: 60;
}
#team2-img{
    grid-row-start: 55;
    grid-row-end: 60;
    grid-column: 10 /span 5;
}

#team3 {
    grid-row-start: 65;
    grid-row-end: 70;
}
#team3-img{
    grid-row-start: 65;
    grid-row-end: 70;
    grid-column: 10 /span 5;
}

#team4 {
    grid-row-start: 75;
    grid-row-end: 80;
}
#team4-img{
    grid-row-start: 75;
    grid-row-end: 80;
    grid-column: 10 /span 5;
}

#new-team {
    grid-row-start: 85;
    grid-row-end: 90;
    color:rgba(0, 0, 0, 1);
}
#new-team-img{
    grid-row-start: 85;
    grid-row-end: 90;
    grid-column: 10 /span 5;
}
.manage-teams {
    grid-row-start: 8;
    grid-row-end: 17;
    grid-column: 140 / span 25;
    background-color: var(--secondary-color);
    border: none;
    font-size: 16px;
}

.horizontal-line {
    grid-row: 23;
    grid-column: 8 / span 185;
    border-top: 1px solid #ccc;
}
#horizontal-line1{
    grid-row: 33;
    grid-column: 8 / span 185;
    border-top: 1px solid #ccc;
}
.login-box{
    width: 400px;
    height: 550px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
.continue{
    grid-row: 17 /span 2;
    grid-column: 2 / span 8;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.username{
    background-color: var(--secondary-color);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user{
    grid-row: 9 / span 2;
    grid-column: 2 / span 8;
}
#password{
    grid-row: 12 /span 2;
    grid-column: 2 /span 8;
}
.username input[type="text"],
.username input[type="password"]{
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    color: black;
    padding-left: 10px;
    margin-left: 40px;
}
#continue{
    padding:0;
    margin: 0;
    font-size: 16px;
}
#input-user{
    grid-row: 9 /span 2;
    grid-column: 2 /span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-password{
    grid-row: 12 /span 2;
    grid-column: 2 /span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#forgot-password{
    grid-row: 14 /span 1;
    grid-column: 2 /span 8;
    color: rgba(0, 0, 0, 0.47);
    font-size: 16px;
}
a{
    color:rgba(0, 0, 0, 0.47);
}
.headline{
    grid-row: 5 /span 1;
    grid-column: 4/span 6;
}
#welcome {
    font-weight: normal;
    font-size: 32px;
    margin: 0;
}
.headline2{
    grid-row: 6 /span 1;
    grid-column: 4/span 6;
}
#welcome2 {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}
.image-container{
    grid-row: 5 /span 2;
    grid-column: 2/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-nav,
.button-nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 8;
    grid-row-end: 17;
    grid-column: 8 / span 25;
    background-color: var(--secondary-color);
    border: none;
    font-size: 16px;
}

.button-nav1 {
    grid-column: 40 / span 25;
} 

.arrow {
    height: 100%;
    width: 100%;
    object-fit:cover;
    grid-row-start: 11;
    grid-row-end: 14;
    grid-column: 36 / span 2;
}


.search {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    object-fit:cover;
    grid-row-start: 24;
    grid-row-end: 30;
    grid-column: 8 / span 30;
    border: none;
    padding-left: 40px;
    font-size: 16px;
}

.function-box{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 27;
    grid-row-end: 30;
    border: none;
}

.function-img{
    grid-row-start: 20;
    grid-row-end: 27;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload {
    grid-column: 178 / span 20;
}

#share {
    grid-column: 158 / span 20;
}

#new {
    grid-column: 138 / span 20;
}

#refresh {
    grid-column: 118 / span 20;
}

#upload-img {
    grid-column: 178 / span 20;
}

#share-img {
    grid-column: 158 / span 20;
}

#new-img {
    grid-column: 138 / span 20;
}

#refresh-img {
    grid-column: 118 / span 20;
}

.search-icon {
    height: 70%;
    width: 70%;
    object-fit:cover;
    grid-row-start: 25;
    grid-row-end: 31;
    grid-column: 10 / span 6;
}

.file-table {
    grid-row-start: 38;
    grid-row-end: 50;
    grid-column: 8 / span 185;
    border-collapse: collapse;
}

.file-table th,
.file-table td {
    padding: 2px;
    border: none;
    text-align: left;
}

.file-table th {
    background-color: var(--secondary-color);
    border-left: 2px solid;
    font-weight: normal;
    padding: 8px;
}

.file-table-leer {
    height: 20px;
}

.file-table th:nth-child(2),
.file-table td:nth-child(2) {
    width: 38%;
}

.file-table th:nth-child(8),
.file-table td:nth-child(8) {
    width: 24%;
}

.file-table th:nth-child(6),
.file-table td:nth-child(6) {
    width: 19%;
}

.file-table th:nth-child(4),
.file-table td:nth-child(4) {
    width: 10%;
}

.file-table th:first-child,
.file-table td:first-child {
    width: 3%;
    border: none;
    background-color: white;
}

.file-table th:nth-child(3),
.file-table td:nth-child(3) {
    width: 2%;
    border: none;
    background-color: white;
}

.file-table th:nth-child(5),
.file-table td:nth-child(5) {
    width: 2%;
    border: none;
    background-color: white;
}

.file-table th:nth-child(7),
.file-table td:nth-child(7) {
    width: 2%;
    border: none;
    background-color: white;
}

input {
    accent-color: var(--secondary-color);
}

.manage-table{
    text-align: left;
    margin: 10px;
}
.manage-table th{
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 5px;
}
.manage-table td{
    padding: 0;
}
.icon-manage{
    height: 14px;
    width: 16px;
}
#clms3 td:first-child{
    text-align: left;
    width: 70%;
}
#clms3 td:nth-child(2){
    text-align: right;
    padding-right: 10px;
    width: 15%;
}
#clms3 td:nth-child(3){
    text-align: right;
    width: 15%;
}
.acc-den{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#accept{
    color: white;
    background-color: green;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
}
#deny{
    color: white;
    background-color: red;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
}