.login-box {
    width: 400px;
    height: 550px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content-container {
    position: absolute;
    top: 10%;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.image-container{
    position: absolute;
    top: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.user-box {
    width: 350px;
    height: 60px;
    background-color:var(--secondary-color);
    position: absolute;
    bottom: 50%;
}
.user-box input[type="text"] {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 80%;
    height: 70%;
    border: none;
    background-color: transparent;
    color: black;
    box-sizing: border-box;
}
.password-box{
    width: 350px;
    height: 60px;
    background-color:var(--secondary-color);
    position: absolute;
    top: 55%;
}
.password-box input[type="password"] {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 80%;
    height: 70%;
    border: none;
    background-color: transparent;
    color: black;
    box-sizing: border-box;
}
.continue{
    width: 350px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--primary-color);
}
.continue-box {
    width: 350px;
    height: 50px;
    background-color:var(--primary-color);
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:20%;
    left: 3%;
}
.forgot{
    position: absolute;
    top: 66%;
    color: rgba(0, 0, 0, 0.47);
}
.forgot-password{
    width: 350px;
    height: 60px;
    color: rgba(0, 0, 0, 0.47);
}

.continue-text {
    color: white;
    font-size: 16px;
}
h1{
    font-weight: normal;
    font-size: 32px;
    margin: 0;
}
p{
    font-size: 16px;
    margin-top: 8px;
}